*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* NAVBAR */
.navbar{
  background:#111;
  color:#fff;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.navbar ul{
  list-style:none;
  display:flex;
  gap:20px;
}

.navbar a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.navbar a:hover{
  color:orange;
}

/* HERO */
.hero{
  height:85vh;
  background:#222;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:48px;
}

.hero p{
  margin:10px 0;
}

.btn{
  background:orange;
  padding:10px 25px;
  color:black;
  text-decoration:none;
  border-radius:25px;
  margin-top:15px;
}

/* FEATURES */
.features{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:40px;
}

.box{
  padding:20px;
  background:#f2f2f2;
  border-radius:10px;
  width:200px;
  text-align:center;
  font-weight:bold;
}

/* MENU */
.menu{
  padding:50px;
  text-align:center;
}

.menu-grid{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

.card{
  width:220px;
  padding:15px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

.card span{
  color:orange;
  font-weight:bold;
}

/* ABOUT & CONTACT */
.about, .contact{
  padding:60px;
  text-align:center;
}

/* FOOTER */
footer{
  background:#111;
  color:white;
  text-align:center;
  padding:15px;
}
/* MENU WITH IMAGES */
.menu-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:25px;
  margin-top:30px;
}

.menu-card{
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 6px 15px rgba(0,0,0,0.2);
  text-align:center;
  transition:transform 0.3s;
}

.menu-card:hover{
  transform:translateY(-8px);
}

.menu-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.menu-card h3{
  margin:10px 0 5px;
}

.menu-card p{
  font-size:14px;
  color:#555;
}

.menu-card span{
  display:block;
  margin:10px 0 15px;
  color:orange;
  font-weight:bold;
  font-size:18px;
}








